#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# Adding this during m5 section so we could test things locally without worrying about 'terraform init' failing
backend_local.tf